@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Оксана Миколаївна, Welcome на мій супер крутий ASP.NET Core MVC проект</h3>
    <p>Це перша лаба з ВебТеху яку дають скороченикам в <b>ХНУ</b></p>
    <p>Її зробив <i>Ніцевич Артур Євгенійович</i> з групи <b>ІПЗс-24-1</b></p>
    <p>Автор цієї лабораторної роботи хоче взяти <b>Інтернет-магазин з продажу техніки</b> як тему своєї практичної</p>
    <h3>Мона?</h3>
    <img src="https://imgs.search.brave.com/HUiQRr6MMMyEznekjUiURuTNRuypfp4Z_qEEzvWnOak/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4z/LmVtb2ppLmdnL2Vt/b2ppcy84ODUxLWlz/Zm9ybWUucG5n" />
</div>
